* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  background: #000;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
section {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

a,
li {
  list-style-type: none;
  list-style: none;
  text-decoration: none;
  padding: 10px;
  /* background-color: #333; */
  color: white;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  color: white;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
p {
  color: white;
  text-align: start;
  padding: 10px;
  margin: 10px;
  width: auto;
  background: linear-gradient(135deg, #0000ff, #8b00ff);
  border-radius: 10px;
}

h1:hover,
p:hover {
  background: transparent;
  transition: all 0.5s;
  scale: 1.6;
  margin: 20px;
  cursor: pointer;
}
